@font-face {
    font-family: Outfit;
    src: url(assets/font/Outfit-VariableFont_wght.ttf);
}

html {
    overflow: hidden;
}

html, body, main {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Outfit;
    position: relative;
    z-index: 0;
}

main {
    background-color: #DEDEDE;
    background-image: url(assets/images/pattern.png);
    animation: background-scroll 2s linear infinite;
}

@keyframes background-scroll {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -139px 139px;
    }
}

#logo {
    top: 0.8cm;
    left: 0.8cm;
    width: 2cm;
    height: 2cm;
    border: none;
    background: none;
    mix-blend-mode: difference;
    transition: all 0.4s ease;
    position: absolute;
    z-index: 2;
}

#logo:hover {
    animation: logo-wiggle 1s linear;
}

@keyframes logo-wiggle {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    10%, 20% {
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%, 50%, 70%, 90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%, 60%, 80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
}

#logo img {
    width: 100%;
    height: auto;
}

nav {
    bottom: 1cm;
    left: 1cm;
    display: flex;
    flex-direction: column;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 2;
}

nav a {
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: #DEDEDE;
    transition: all 0.5s ease;
}

nav a:hover {
    transform: translateX(1cm);
}

#name-card {
    top: 0;
    height: 100%;
    transform: translateX(-5vw);
    transition: all 0.5s ease;
    position: absolute;
    z-index: 1;
}

#projects {
    margin: 0;
    width: 100%;
    height: 100%;
}

#project-reel {
    position: absolute;
    right: -25cm;
    height: fit-content;
    transition: all 0.5s ease;
}

.project {
    background-color: #000;
    margin-top: 1cm;
    margin-bottom: 2cm;
    width: 20cm;
    height: 8cm;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
}

.project:hover {
    transform: scale(110%) rotate(1.5deg);
}

.project img {
    background-color: #000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 2;
}

.project:hover > img {
    transform: scale(120%);
    opacity: 100%;
}

.project a, .project p {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000000A4;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 3;
}

.project a {
    display: block;
    font-size: 33px;
    transform: translate(1cm, 5.5cm);
}

.project a::after {
    content: " ↗";
}

.project p {
    transform: translate(1cm, 6cm);
    font-size: 22px;
}

#about {
    width: 50cm;
    height: 100%;
    top: 5cm;
    left: 13cm;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

#about h1 {
    display: block;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
}

#about h2 {
    display: block;
    transform: translateY(3cm);
    font-size: 50px;
    font-weight: bold;
    position: absolute;
}

#skills {
    width: 15cm;
    height: 3.5cm;
    display: grid;
    transform: translate(6cm, 6cm);
    grid-template-columns: auto auto auto;
    position: absolute;
}

.skill {
    background-color: #000;
    color: #FFF;
    margin: 5px;
    padding-top: 15px;
    width: 4cm;
    height: 1cm;
    font-weight: bold;
    border-radius: 40px;
    text-align: center;
    transition: all 0.5s ease;
}

.skill:hover {
    transform: scale(110%) rotate(1.5deg);
}

#social {
    
    position: absolute;
}